<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style type = "text/css">
        tr:nth-child(even){background-color: #f2f2f2;}

         body {
            background-image: url(https://github.com/danielavcb/app_dev/blob/681b1d1dca8b9de2e5fb525150c825813680d974/templates/teamslogos.png?raw=true);
            background-repeat: repeat-y;
            font-family : Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
            font-size : 14px;
         }

         div{
             background: none;
         }
         table {
             width: 50%;
         }
   </style>
</head>
<body>
    <div align = "center">
         <div style =  "color:#96C9D0FF; font-size:20px"><b><br><br><br> HOMEPAGE <b></b></b></div>

    <div>
         <div>
             <div style = "color:#13808f; padding:3px; font-size:16px"><b><b></b> Please enter a year to view the standings <b></b></b></div>
        <br>
        <form method="post">
                <input type="text" name="yearID" id="yearID" placeholder="enter a year">
                <br><br>
                <input type="submit" value = "SUBMIT"><br><br>
        </form>
        </div>
    </div>
    <table>
        <tbody>
        <form method="post">
            <th style="background-color:powderblue;"> AL East </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in al1 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr><br><br>

            <th style="background-color:powderblue;"> AL West </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in al2 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr><br><br>


            <th style="background-color:powderblue;"> AL Central </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in al3 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr><br><br>

            <th style="background-color:powderblue;"> NL East </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in nl1 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr><br><br>


            <th style="background-color:powderblue;"> NL West </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in nl2 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr><br><br>

            <th style="background-color:powderblue;"> NL Central </th>
            <tr>
                <th> Team </th>
                <th> Wins </th>
                <th> Losses </th>
            </tr>
            <tr>
                {% for row in nl3 %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr>

            <th style="background-color:powderblue;"> WINNING STATS </th>
            <tr>
                <th> Round </th>
                <th> Winner </th>
                <th> Loser </th>
            </tr>
            <tr>
                {% for row in win %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                {% endfor %}
            </tr>
        </form>
    </tbody>
    </table>

    </div>
    </div>
</body>
</html>