<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
    <title>Stats</title>
    <style type = text/css>
        tr:nth-child(even) {background-color: #f2f2f2;}
         body {
            font-family : Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
            font-size : 14px;
         }
         table {
             width: 50%;
         }
   </style>
</head>
<body>
    <div align = "center">
     <div style = "width : 200px; " align = "center">
         <div style = "background-color:#ffffffff; color:#96C9D0FF; padding:3px; font-size:20px"><b><br><br><br> HOMEPAGE <b></b></b></div>
     </div><br>
    </div>


</body>
</html>